
    /*背景框*/
.show{
    width: 520px;
    height: 280px;
    /*用于居中 */
    left: 50%;
    margin-left: -260px;
    top: 50%;
    margin-top: -140px;
    position: absolute;

}
/*
    模糊背景
*/
.contanier{
    width: 520px;
    height: 280px;

    background: url("../img/bg.png");
    background-size: 520px 280px;
    position: absolute;

    animation: blurred 12s infinite step-start;
}
/*
    利用animation的step-star参数，使动画一帧一帧的变化，而不是默认的线性变化
    其中，step的特点是在动画间隔期间直接表现下一帧的动画，一步到位
    step-start会跳过0~10%阶段，直接显示10%，时间并为跳过，其中总时间为12s
    则，0~10%花费1.2s，那么这1.2s中表现为 filter: blur(1px)
 */
@keyframes blurred {

    10% {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -ms-filter: blur(1px);
        -o-filter: blur(1px);
        filter: blur(1px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    }
    90% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        filter: blur(5px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    }
    100% {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -ms-filter: blur(1px);
        -o-filter: blur(1px);
        filter: blur(1px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    }
}

/*展示动画*/
.show .blurr {
    width: 400px;
    height: 200px;

    position: relative;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -100px;
}

/*各个边框 */
.blurr > div {
    position: absolute;
}

.topBox {
    top: 0;
    left: 0;
    width: 100%; /*400px*/
    height: 10px;
}

.bottomBox {
    bottom: 0;
    left: 0;
    width: 100%; /*400px*/
    height: 10px;
}
.rightBox{
    right: 0;
    top: 0;
    height: 100%; /*200px*/
    width: 10px;
}
.leftBox {
    left: 0;
    top: 0;
    height: 100%; /*200px*/
    width: 10px;
}

.box{
    overflow: hidden;
    position: relative;
}
/*
     上下两个边框中的box宽度为200px，为了让动画条纹完全布满box时不会立马返回，
     动画条纹应该大于box的长度，所以动画条纹为400px，以左边条纹为例，刚开始运动时，
     left值为：400px,距离左box展示距离为200px,所以不会条纹立马就出现，终点的left值为-200px，
     也同理。
*/
.topBox .box, .bottomBox .box {
    width: 200px;
    display: inline-block;
    float: left;
}


.leftBox .box, .rightBox .box {
    height: 100px;
    display: block;
}

/*上下边框的条纹 */
.left, .right {
    float: left;
    width: 400px;
    height: 10px;
    background-color: #f3f3f3;
    opacity: .7;
    filter: alpha(opacity=.7);
    position: relative;
}

/*左右边框的条纹 */
.top, .bottom {
    float: left;
    width: 10px;
    height: 300px;
    position: relative;
    background-color: #f3f3f3;
    opacity: .7;
    filter: alpha(opacity=.7);
    display: block;
}

/*设置各自的动画 */
.left {
    animation: blurredleft 6s  infinite alternate;
}

.right {
    animation: blurredright 6s infinite alternate;
}

.top {
    animation: blurredtop 6s infinite alternate;
}
.bottom {
    animation: blurredbottom 6s infinite alternate;
}

@keyframes blurredleft {
    from {
        left: 400px;
    }
    to {
        left: -200px;
    }
}

@keyframes blurredright {
    from {
        left: -600px
    }
    to {
        left: 0;
    }
}

@keyframes blurredtop {
    from {
        top: 300px
    }
    to {
        top: -200px;
    }
}
@keyframes blurredbottom {
    from {
        top: -500px;

    }
    to {
        top:0;
    }
}
.content{
    width: 100%;
    text-align: center;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: fontShow 12s  infinite;
}
@keyframes fontShow {
        10% {
            filter: alpha(opacity=0);
            opacity: 0;
            top: 60%;
        }
        20% {
            filter: alpha(opacity=1);
            opacity: 1;
            top: 30%;
        }
        80% {
            filter: alpha(opacity=1);
            opacity: 1;
            top: 30%;
        }
        90% {
            filter: alpha(opacity=0);
            opacity: 0;
            top: 60%;
        }

    }
.content p {
    transition: top 1s;
    position: relative;
    font-size: 20px;
    animation: colorFont_2 2s infinite step-start;
}
.content div{
    width: 100%;
    height: 30px;
    color: transparent;
    background-image: -webkit-linear-gradient(left, blue, red 25%, blue 50%, red 75%, blue 100%);
    background-image:  -moz-linear-gradient(left, blue, red 25%, blue 50%, red 75%, blue 100%);
    background-image: -o-linear-gradient(left, blue, red 25%, blue 50%, red 75%, blue 100%);

    -webkit-background-clip: text;
    animation: colorFont_1 2s infinite;
    font-size: 25px;
}
@keyframes colorFont_1 {
        from{
            background-position-x: 0;
        }
        to{
            background-position-x: 240px;
        }
    }
@keyframes colorFont_2 {
   50%{
       color: red;
   }
    100%{

        color: blue
    }
}

